html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}
h1,h2,h3,h4,h5 {
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 1.25rem;
}

body {
  color: #f7fffd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}
@media (min-width: 900px) {
  body::-webkit-scrollbar {
    display: block;
    position: absolute;
    right: 1rem;
    width: 0.5rem;
    background-color: #2c3e50;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #1bbc9b;
    height: 10rem;
  }
}
a:any-link {
  color: inherit;
  text-decoration: none;
  
}
.container {
  width: 90%;
  margin: auto;
}
@media (min-width: 400px) {
  .container { width: 87%; }
}
@media (min-width: 900px) {
  .container { width: 85%;}
}
@media (min-width: 1100px) {
  .container { width: 80%;}
}

[class*="flex-"] {
  display: flex;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-between {
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-around {
  align-items: center;
  justify-content: space-around;
}
.flex-column {
  flex-direction: column;
}

.header {
  background-color: #2c3e50;
  /* transition: all 1s ease-in; */
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: all 0.25s ease-in;
}
.nav {
  flex-wrap: wrap;
}
.header > .container {
  padding: 0.8rem 0;
}

.menu {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 0;
  transition: all 1s ease-in;
  
}
.menu li {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  transition: all 0.25s ease-out;
}
.menu a:hover {
  color: #1bbc9b;
}
.toggle {
  display: none;
}
.menu-icon {
  min-height: 3rem;
  z-index: 9;
}
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.menu-text-button {
  text-transform: uppercase;
  margin-right: 0.5rem;
  font-weight: 700;
}
.bar {
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: #f7fffd;
  position: relative;
  transition:all 0.25s ease-in;
}
.bar::before, .bar::after{
  content: '';
  position: absolute;
  width: 2rem;
  height: 0.2rem;
  
  background-color: #f7fffd;
  transition:all 0.25s ease-in;
}
.bar::before {
  top:-0.55rem;
}
.bar::after {
  top:0.5rem;
}
.toggle:checked ~ .menu-icon .bar{
  background-color: transparent;
  width: 1.75rem;
}
.toggle:checked ~ .menu-icon .bar::before{
  transform: rotate(45deg) translate(0.3rem,0.5rem);
}
.toggle:checked ~ .menu-icon .bar::after{
  transform: rotate(-45deg) translate(0.3rem,-0.5rem);
  
}


#menu-toggle:checked ~ .menu {
  height: auto;
  transition: height 0.25s ease-in;
}

#menu-toggle:checked ~ .menu li {
  margin: 1.5rem 0;
  transition: all 0.25s ease-in;
}

@media (min-width: 400px) {
  
}
@media (min-width: 900px) {
  .nav {
    flex-direction: row;
  }
  .menu-icon {
    display: none;
  }
  .menu {
    height: auto;
    flex-direction: row;
    width: auto;
  }
  .menu li {
    /* width: auto; */
    margin-right:1rem;
  }
  .menu li:last-child {
    margin-right: 0;
  }
  .logo {
    font-size: 1.75rem;
  }
}

/* BUTTON */
.button {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #1bbc9b;
  border: none;
  color: #f7fffd;
  text-transform: uppercase;
  font-weight: 700;
}

.button:hover {
  background-color: #118870;
}

.button-special {
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
  border: 2px solid #f7fffd;
  text-transform: uppercase;
  font-weight: 700;
}

.button-special:hover {
  color: #2c3e50;
  background-color: #f7fffd;
}

/*Divider*/

.divider-custom {
  width: 100%;
}

.divider-custom-line {
  min-width: 7rem;
  height: 0.25rem;
  border-radius: 1rem;
  background-color: #2c3e50;

}
.divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom-icon {
  color: #2c3e50;
  font-size: 2rem;
}

.divider-custom-light .divider-custom-line{
  background-color: #f7fffd;
}

.divider-custom-light .divider-custom-icon {
  color: #f7fffd;
}

/* Main */
.main {
  background-color: #1bbc9b;
  width: 100%;
  text-align: center;
}
.main > .container {
  padding-top:15vh;
  padding-bottom: 5vh;
}
.main h1 {
  font-weight: 700;
  text-transform: uppercase;
}
.main > .container >* {
  margin-bottom: 2rem;
}
.main > .container >*:last-child {
  margin-bottom: 0;
}
.main .main-subheading {
  font-size: 1.25rem;
}
.main .main-icon {
  width: 12rem;
  height: 12rem;
  background-color: #2c3e50;
  border-radius: 50%;
}

@media (min-width: 400px) {

}
@media (min-width: 900px) {
  .main {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .main h1 {
    font-size: 4rem;
  }
}

/* portfolio */
.portfolio {
  color: #2c3e50;
  background-color: #f7fffd;
  width: 100%;
  padding: 2rem 0;
}
.portfolio h2 {
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio > .container >* {
  margin-bottom: 1.5rem;
}
.portfolio > .container >*:last-child {
  margin-bottom: 0;
}

.item-container {
  width: 100%;
  max-width: 30rem;
  height: 15rem;
  margin: 1rem ;
}

.item {
  position: relative;
  border-radius: 1rem;
}
.item-icon {
  width:10rem;
  height: 10rem;
  border-radius:50%;
}
.item-hover {
  border-radius: 1rem;
  opacity: 0;
  position: absolute;
  color: #f7fffd;
  background-color: rgba(27, 188, 156, 0.9);
  font-size: 5rem;
}

.item:hover .item-hover {
  opacity: 1;
  transition: all 0.2s ease-in;
}
.item i {
  transition: all 0.2s ease-in;
}
.item i:hover {
  transform: rotate(135deg);
}

.b1 {
  background-color: #ba4d64;
}
.b2 {
  background-color: #1fa4b5;
}
.b3 {
  background-color: #130f0e;
}
.b4 {
  background-color: #1d83c1;
}
.b5 {
  background-color: #1037b6;
}
.b6 {
  background-color: #ccb2a3;
}

.b1 .item-icon {
  background-color: #45b29b;
}
.b2 .item-icon {
  background-color: #e05b4a;
}
.b3 .item-icon {
  background-color: #ecf0f1;
}
.b4 .item-icon {
  background-color: #e27c3e;
}
.b5 .item-icon {
  background-color: #efc849;
}
.b6 .item-icon {
  background-color: #334d5c;
}

@media (min-width: 600px) {
  .item-container {
    max-width:40% ;
  }
}
@media (min-width: 1100px) {
  .item-container {
    max-width:25% ;
  }
  .portfolio {
    padding: 5rem 0;
  }
}

/* about */
.about {
  background-color: #1bbc9b;
  width: 100%;
  padding: 2rem 0;
}

.about > .container >* {
  margin-bottom: 1.5rem;
}

.about > .container >*:last-child {
  margin-bottom: 0;
}
.about p:first-child {
  margin-bottom: 1rem;
}

@media (min-width: 400px) {

}
@media (min-width: 900px) {
  .about {
    padding: 5rem 0;
  }
  .about-para p {
    width: 30%;
    margin-right: 2rem;
  }
  .about-para p:last-of-type {
    margin-right:0;
  }
  .about-para {
    align-items: flex-start;
  }
}

/* contact */
.contact {
  background-color: #f7fffd;
  width: 100%;
  min-height: 100vh;
  color: #2c3e50;
}
.contact h2 {
  text-align: center;
}
.contact > .container >* {
  margin-bottom: 1.5rem;
}
.contact > .container >*:last-child {
  margin-bottom: 0;
}



.input-container {
  border-bottom: 0.7px solid rgba(44, 62, 80, 0.5);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.input-container:last-of-type {
  margin-bottom: 1rem;
}
.input {
  font-size: 1.5rem;
  font-weight: 300;
  border: none;
  background-color: #f7fffd;
  font-family: inherit;
}
.input:focus {
  outline: none;
}
.input-container label {
  opacity: 0;
  font-size: 1rem;
  transition: all 0.2s ease-in;
  margin-bottom: 0.2rem;
}
.input-container:focus-within  label {
  opacity: 1;
}

@media (min-width: 400px) {

}
@media (min-width: 900px) {
  .contact {
    padding: 5rem 0;
  }
  .form-container {
    width: 80%;
  }
  .contact > .container {
    align-items: center;
  }
}

/* footer */

.footer {
  background-color: #2c3e50;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.footer h4 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.footer > .container >* {
  margin-bottom: 2rem;
}
.footer > .container >*:last-child {
  margin-bottom: 0;
}

.footer-item >* {
  margin-bottom: 1rem;
}
.footer-item  >*:last-child {
  margin-bottom: 0;
}
.social {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.social:last-of-type {
  margin-right: 0;
}
.footer .text-special {
  color: #1bbc9b;
  text-transform: capitalize;
  font-weight: inherit;
}
.footer .text-special:hover {
  color: #23ecc4;
  text-decoration: underline;
}

@media (min-width: 400px) {

}
@media (min-width: 900px) {
  .footer {
    padding: 5rem 0;
  }
  .footer > .container {
    flex-direction: row;
  }
  .footer-item {
    flex: 1;
    margin-right: 1rem;
  }
  .footer-item:last-of-type {
    margin-right: 0;
  }
}
.copyright {
  background-color: #1b252f;
  width: 100%;
  min-height: 10vh;
}

.page-up {
  opacity: 0.5;
  border-radius: 0.5rem;
  right: 1rem;
  bottom: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #1a252f;
  font-size: 3rem;
  color: #f7fffd;
  position: fixed;
}

html[data-scroll='100'] .page-up {
  opacity: 1;
}

@media (min-width: 900px) {
  .page-up {
    display: none;
  }
}